{% extends "core/base.html" %}

{% load static %}

{% block titulo %}
  ESSE É O CODIGO FILHO
{% endblock titulo %}

{% block content %}

{% if msg %}
	<h3>{{msg}}</h3>
{% endif %}

<form action="" method="post">
	{% csrf_token %}
	{{form.as_p}}

	<button type="submit" >Enviar</button>

</form>


<img src="{% static "imagens/foto.jpg" %}">

<h3>Voce passou nessas disciplinas:</h3>

<ol>
	{% for disciplina in disciplinas %}

	<li><p>{{disciplina}}</p></li>

	{% if disciplina == 'ecobrasil'%}
	     <h4> Você é TOPADO!<h4>
	     {% elif disciplina == 'contabilidade' %}
	     <h4> PARABAIS</h4>
	     {% else %}
	     <h4>Voce é legalzinho</h4>

	{% endif %}     

	{% endfor %}
</ol>



<p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>

{% endblock content %}

